*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: "Inter", sans-serif;

    --fw-regular: 400;
    --fw-bolder: 500;
    --fw-bold: 800;

    --fs-h1: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --clr-bg: #1c1c1c;
    --clr-dark: #1f2937;
    --clr-light: #ecfdf5;
    --clr-accent: #4adf86;
    --clr-accent-darker: #10b981;
    --clr-accent-text: #55f991;
    --clr-accent-dark: #2b283a;
    --clr-accent-light: #ffffff;
    --clr-border-light: #d5d4d8;
    --clr-field-light: #2f3e53;
    --clr-field-dark: #273549;
    --clr-subtitle-dark: #6b7280;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--clr-bg);
    font-family: var(--ff-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: var(--clr-accent);
}

/**************
typography
***************/

.logo {
    color: var(--clr-border-light);
    letter-spacing: 0.5px;
}

.section-title {
    color: var(--clr-accent-light);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    line-height: 40px;
    margin: 0;
}

.section-subtitle,
.instruction {
    color: var(--clr-border-light);
    font-weight: var(--fw-regular);
}

.section-subtitle {
    margin: 0.8em 0 3em 0;
    font-size: var(--fs-h3);
}

/**************
layout
***************/

.container {
    max-width: 550px;
    background-color: var(--clr-dark);
    border-radius: 10px;
}

.header {
    padding: 0.7em 3em 0 3em;
}

.container-body {
    padding: 1.2em 3em;
}

.generate-btn {
    color: var(--clr-light);
    background-color: var(--clr-accent-darker);
    border: none;
    padding: 11px 19px 11px 17px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    cursor: pointer;
}

.generate-btn:active {
    box-shadow: inset 3px 3px 15px -3px rgba(0, 0, 0, 0.7);
}

.container-passwords {
    margin: 2.5em 0 0 0;
    padding: 1.2em 0 0 0;
    border-top: solid 1px var(--clr-field-light);
    display: flex;
    justify-content: space-between;
}

.passwords {
    margin: 0;
    text-align: center;
}

.field-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-field-dark);
    border-radius: 6px;
    width: 175px;
    height: 42px;
    margin: 0.2em 0 0 0;
    color: var(--clr-accent-text);
    font-weight: var(--fw-bolder);
    cursor: pointer;
    font-size: 0.85rem;
}

.footer {
    margin: 2em 0 0 0;
    text-align: center;
}

/* pop-up text */

.pop-up-text {
    visibility: hidden;
    font-size: 0.85rem;
    color: #d5d4d8;
}
.pop-up-text.show {
    opacity: 0;
    visibility: visible;
    -webkit-animation: fadeinout 1.75s;
    animation: fadeinout 1.75s;
}

@-webkit-keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

/* media query */
