@font-face {
    src: url("karla.regular.ttf");
    font-family: Karla;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #1c1c1c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Karla", sans-serif;
}

.container {
    width: 80%;
    max-width: 600px;
    background: #1f2937;
    border: 5px solid #ffffff;
    border-radius: 20px;
}

.container-intro {
    width: 80%;
    margin: 0 auto;
    line-height: 1.1;
}

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-titles {
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    color: #ffffff;
}

.container-titles span {
    color: #10b981;
}

h3 {
    margin: 0 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    color: #d5d4d8;
}

button {
    margin: 2em 0 0 0;
    background: #10b981;
    border: none;
    border-radius: 6px;
    font-size: 1.125rem;
    font-family: Karla;
    color: #ffffff;
    padding: 0.75em 1.25em;
    transform: scale(1);
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

.container-passwords {
    margin: 2.5em 0 0 0;
    padding-top: 1.3em;
    border-top: 1px solid #2f3e53;
    width: 60%;
}

.passwords {
    width: 100%;
}

.field-text {
    margin-top: 3px;
    background: #273549;
    border-radius: 6px;
    border: none;
    width: 100%;
    height: 3em;
    padding-top: 0.9em;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #55f991;
    cursor: pointer;
}

.field-text:hover {
    opacity: 0.6;
}

.copy-msg {
    margin: 1em 0 2em 0;
}

/* pop-up text */

.popuptext {
    visibility: hidden;
    font-size: 1rem;
    color: #d5d4d8;
}
.popuptext.show {
    opacity: 0;
    visibility: visible;
    -webkit-animation: fadeinout 1.75s;
    animation: fadeinout 1.75s;
}

@-webkit-keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    50% {
        opacity: 1;
    }
}

/* media query */

@media (min-width: 500px) {
    .container {
        width: 90%;
    }

    .container-titles {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .container-intro {
        width: 80%;
        display: flex;
        align-items: flex-start;
        justify-content: start;
    }
    .container-passwords {
        flex-direction: row;
        width: 80%;
    }
    #passwordOne {
        padding-right: 0.25em;
    }
    #passwordTwo {
        padding-left: 0.25em;
    }
}
